@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg-color: #ffffff;
  --header-shadow-color: #f2f2f2;

  --selection-bg: #eafcff;
  --selection-text: #31b8c6;

  /* framer motion variables */
  --fm-ssl-width-from: 100vw;
  --fm-ssl-width-to: 100vw;
}

.dark {
  --body-bg-color: #212121;
  --header-shadow-color: #2c2c2c;

  --selection-bg: #1b292b;
  --selection-text: #31b8c6;
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 100vw;
  height: 100dvh;
  background-color: var(--body-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.3);
  border-radius: 4px;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(150, 150, 150, 0.5);
}

* {
  scrollbar-color: rgba(150, 150, 150, 0.3) transparent;
}

.screen-center {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
}

.header-shadow {
  box-shadow: 0 1px 0 0 var(--header-shadow-color);
}

.transparent {
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.spin-animation {
  animation: spin-animation 2s linear infinite;
}

#messages-container::selection {
  background-color: var(--selection-bg);
  color: var(--selection-text);
}

#messages-container::-moz-selection {
  background-color: var(--selection-bg);
  color: var(--selection-text);
}

#messages-container::-webkit-selection {
  background-color: var(--selection-bg);
  color: var(--selection-text);
}

@keyframes spin-animation {
  to {
    transform: rotate(360deg);
  }
}

@media print {
  #messages-container {
    overflow: visible !important;
    min-height: 0;
    height: auto !important;
    max-height: auto !important;
  }

  #sidebar,
  #prompt-box {
    display: none !important;
  }
}

/* framer motion variables */
@media (min-width: 1024px) {
  :root {
    --fm-ssl-width-from: 0;
    --fm-ssl-width-to: 380px;
  }
}
