@keyframes skeleton {
  100% {
    transform: translateX(100%);
  }
}

:root {
  --skeleton-bg-color: #f8f8f8;
  --skeleton-highlight-color: #e4e4e4;
  --skeleton-animation-duration: 1.5s;
  --skeleton-animation-direction: normal;
  --skeleton-pseudo-element-display: block;
}

.dark {
  --skeleton-bg-color: #252525;
  --skeleton-highlight-color: #383838;
  --skeleton-animation-duration: 1.5s;
  --skeleton-animation-direction: normal;
  --skeleton-pseudo-element-display: block;
}

.skeleton {
  background-color: var(--skeleton-bg-color);

  display: inline-flex;
  line-height: 1;

  position: relative;
  user-select: none;
  overflow: hidden;
}

.skeleton::after {
  content: " ";
  display: var(--skeleton-pseudo-element-display);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: var(
    --custom-highlight-background,
    linear-gradient(
      90deg,
      var(--skeleton-bg-color) 0%,
      var(--skeleton-highlight-color) 50%,
      var(--skeleton-bg-color) 100%
    )
  );
  transform: translateX(-100%);

  animation-name: skeleton;
  animation-direction: var(--skeleton-animation-direction);
  animation-duration: var(--skeleton-animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@media (prefers-reduced-motion) {
  .skeleton {
    --skeleton-pseudo-element-display: none; /* Disable animation */
  }
}
